<h4>Create a new adventure!</h4>

<form action="<%= adventures_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>
    Title
    <input type="text" name="adventure[title]" value="">
  </label>

  <input type="submit" name="" value="Create">
</form>
