/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Open Sans', sans-serif;
}

#root {
  background-color: #e9ebee;
}

 ul {
   list-style: none;
   padding: 0;
 }

 li {
   padding: 0;
 }

 .session-links {
   margin-left: 10px;
 }

/*adventure index*/
.adventure-index-item {
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 5px 5px 5px #888888;
}

.adventure-index-item:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px #888888;
  transform: translateY(2px);
}

.adventure-index-item:active {
  box-shadow: 1px 1px 1px #888888;
  transform: translateY(4px);
}

.adventure-index-item-cover {
  height: 250px;
  overflow: hidden;
}

.default-cover {
  font-size: 50px;
  text-align: center;
  line-height: 250px;
  background-color: #5f5f5f;
}

.adventure-index-item-cover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.adventure-index-item-description {
  height: 100px;
  padding: 10px;
}

.adventure-index-item-author {
  font-size: 12px;
  color: #7e7e7e;
}

.adventure-index-item-title {

}

.adventure-show-title {
  margin-top: 30px;
}

.adventure-show-author {
  text-align: center;
}

.adventure-show-cover-box {
  height: 500px;
  background-color: #5f5f5f;
}

.adventure-show-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.adventure-show-default-cover {
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 500px;
  font-size: 60px;
}

.upload-cover-image-wrapper {
  height: 300px;
  width: 375px;
}

.upload-cover-image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.edit-button {
  position: absolute;
  float: left;
}

.genres-container {
  margin-top: 10px;
}

.genre-box {
  display: inline-block;
  border-radius: 3px;
  padding: 3px 8px;
  margin: 0 4px 4px 0;
  font-size: 13px;
  font-weight: 500;
  max-width: 100%;
  background-color: rgba(67,67,67,0.1);
  color: #434343;
}

.genre-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.genre-remove-button {
  color: #a9a9a9;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0 0 0 4px;
  transition: background-color .2s;
  outline: 0;
}

.genre-remove-button:hover {
  cursor: pointer;
}

.toggle-button:hover {
  color: #ffa500;
  cursor: pointer;
}

.page-box {
  background-color: #cee1ea;
  box-shadow: 0 1px 5px rgba(0,0,0,0.16);
  padding: 10px;
}

.page-index-item-button {
  height: 28px;
}

.page-index-item-name {
  font-weight: bolder;
}

.add-page-button {
  height: 40px;
}

.new-page-form {

}

.add-option-button {
  background-color: #a1c5d6;
  height: 40px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.16);
  padding: 10px;
}

.new-option-form {
  background-color: #a1c5d6;
  box-shadow: 0 1px 5px rgba(0,0,0,0.16);
  padding: 10px;
}
