/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  background-color: #e9ebee;
  height: 100%;
}

#root {
  background-color: #e9ebee;
  min-height: 100%;
}

 ul {
   list-style: none;
   padding: 0;
 }

 li {
   padding: 0;
 }

 .full-height {
   height: 100%;
 }

 .margin-left-10 {
   margin-left: 10px;
 }

 .session-links {
   margin-left: 10px;
 }

/*adventure index*/
.create-adventure-button {
  margin: 25px 20px;
}

.adventure-index-item {
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: white;
  width: 275px;
  box-shadow: 5px 5px 5px #888888;
}

.adventure-index-item:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px #888888;
  transform: translateY(2px);
}

.adventure-index-item:active {
  box-shadow: 1px 1px 1px #888888;
  transform: translateY(4px);
}

.adventure-index-item-cover {
  height: 250px;
  overflow: hidden;
}

.default-cover {
  font-size: 50px;
  text-align: center;
  line-height: 250px;
  background-color: #5f5f5f;
}

.adventure-index-item-cover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.adventure-index-item-description {
  height: 100px;
  padding: 10px;
}

.adventure-index-item-author {
  font-size: 12px;
  color: #7e7e7e;
}

.adventure-index-item-title {

}

/*adventure-show*/
.back-to-list-button {
  text-align: center;
  font-size: 20px;
  margin-right: 595px;
}

.adventure-show-box {
  outline: thin black solid;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.adventure-show-title {
  /*margin-top: 30px;*/
}

.author-and-edit-box {
  width: 700px;
  margin: 0 auto;
}

.adventure-edit-button {
  float: left;
}

.adventure-show-author {
  text-align: center;
}

.adventure-show-cover-box {
  height: 500px;
}

.adventure-show-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.adventure-show-default-cover {
  background-color: #5f5f5f;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 500px;
  font-size: 60px;
}

.adventure-page-box {
  height: 500px;
  width: 100%;
  background-color: white;
  outline: thin solid black;
}

.adventure-show-details {

}

.adventure-show-description {
  padding: 20px;
}

.start-adventure-button {
  margin-left: 268px;
}

.the-end {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 40px;
  font-weight: bold;
  font-family: fantasy;
}

.page-buttons {
  position: absolute;
  bottom: 30px;
  left: 45px;
}

.option {
  padding-left: 20px;
  font-size: 18px;
}

.option:hover {
  cursor: pointer;
  background-color: #e9ebf0;
}

.option:active {
  background-color: #ced1d8;
}

.upload-cover-image-wrapper {
  height: 275px;
  width: 325px;
}

.upload-cover-image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.edit-button {
  position: absolute;
  float: left;
}

.adventure-form {
  background-color: #bbc5d4;
  width: 600px;
  margin: 10px;
  padding: 10px;
}

.adventure-form-header {
  margin: 10px;
}

.genres-container {
  margin-top: 10px;
}

.genre-box {
  display: inline-block;
  border-radius: 3px;
  padding: 3px 8px;
  margin: 0 4px 4px 0;
  font-size: 13px;
  font-weight: 500;
  max-width: 100%;
  background-color: rgba(122, 135, 228, 0.75);
  color: #ffffff;
}

.genre-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.genre-remove-button {
  color: #252525;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0 0 0 4px;
  transition: background-color .2s;
  outline: 0;
}

.genre-remove-button:hover {
  cursor: pointer;
}

.toggle-button:hover {
  color: #ffa500;
  cursor: pointer;
}

.starting-page-select {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 500px;
}

.starting-page-label {
  width: 126px;
}

.pages-index {
  margin: 10px;
  width: 800px;
}

.page-summary-box {
  height: 68px;

}

.page-box {
  background-color: #cee1ea;
  margin-bottom: 20px;
  padding: 10px;
}

.pages-header {
  margin: 10px;
}

.page-box-text {
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: thin solid black;
  white-space: pre-wrap;
  font-family: serif;
}

.page-index-item-buttons {
  line-height: 42px;
}

.page-index-item-button {
  height: 28px;
}

.page-index-item-button:hover {
  cursor: pointer;
}

.page-index-item-details {
  width: 692px;
}

.page-index-item-name {
  font-weight: bolder;
}

.page-index-item-text {
  position: absolute;
  width: 692px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-page-button {
  height: 40px;
}

.new-page-form {
  padding-bottom: 15px;
}

.options-index {
  margin-top: 10px;
}

.option-index-item {
  background-color: #a1c5d6;
  margin-bottom: 10px;
  padding: 7px;
}

.option-index-item-buttons {
  line-height: 40px;
}

.option-index-item-button {
  height: 25px;
}

.option-index-item-button:hover {
  cursor: pointer;
}

.option-index-item-details {
  line-height: 40px;
}

.option-index-item-text {
  width: 550px;
}

.option-index-item-destination-name {
  width: 100px;
}

.add-option-button {
  background-color: #a1c5d6;
  height: 40px;
  padding: 10px;
}

.new-option-form {
  background-color: #a1c5d6;
  border-top: thin solid #0000001f;
  padding: 10px;
}

.mini-page-form {
  width: 800px;
  margin: 10px;
  margin-bottom: 50px;
}

.mini-page-form-header {

}
