/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  background-color: #e9ebee;
  height: 100%;
}

#root {
  background-color: #e9ebee;
  min-height: 100%;
}

#root-container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 66px;
}

.wrapper {
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
}

 ul {
   list-style: none;
   padding: 0;
 }

 li {
   padding: 0;
 }

 .full-height {
   height: 100%;
 }

 .margin-left-10 {
   margin-left: 10px;
 }

 .session-links {
   margin-left: 10px;
 }


 /* sessions */
 #session-box {
  background: #bbc5d4;
  width: 600px;
  margin: 100px auto;
  padding: 50px 60px;
}

#action-box {
  width: 100%;
  height: 40px;
  margin-bottom: 50px;
  text-align: center;
}

.action-button {
  height: 100%;
  width: 50%;
  border: 0;
  font-size: 16px;
  background: gray;
  color: white;
  float: left;
  line-height: 40px;
}

.action-button:hover {
  cursor: pointer;
}

.action-button[disabled] {
  cursor: default;
  background: #4aaad0;
}

#session-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 14px;
  height: 96px;
}

#session-errors {
  color: red;
  height: 52px;
  margin-bottom: 18px;
}

.session-form-group {
  margin-bottom: 30px;
  color: #676e74;
}

.session-form-group > label {
  display: inline-block;
  margin-bottom: 6px;
  color: #4e4e4e;
}

#session-submit-button {
 background: #4aaad0;
 margin-top: 14px;
 padding: 8px;
 border: 0;
 color: white;
 font-size: 16px;
 cursor: pointer;
}


/*adventure index*/

.create-adventure-button {
  margin: 25px 20px;
}

#adventure-index {
  width: 1750px;
  margin: 30px auto;
}

.adventure-index-item {
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  height: 375px;
  width: 300px;
  margin: 0 25px;
  margin-top: 24px;
  background-color: white;
  box-shadow: 5px 5px 5px #888888;
}

@media screen and (max-width: 730px) {
  #adventure-index {
    width: 350px;
  }
}

@media screen and (min-width: 731px) and (max-width: 1080px) {
  #adventure-index {
    width: 700px;
  }
}

@media screen and (min-width: 1081px) and (max-width: 1430px) {
  #adventure-index {
    width: 1050px;
  }
}

@media screen and (min-width: 1431px) and (max-width: 1780px) {
  #adventure-index {
    width: 1400px;
  }
}

.adventure-index-item:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px #888888;
  transform: translateY(2px);
}

.adventure-index-item:active {
  box-shadow: 1px 1px 1px #888888;
  transform: translateY(4px);
}

.adventure-index-item-cover {
  background-color: #cee1ea;
  height: 275px;
  overflow: hidden;
}

.default-cover {
  font-size: 50px;
  text-align: center;
  line-height: 275px;
  background-color: #5f5f5f;
}

.adventure-index-item-cover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.adventure-index-item-details {
  height: 100px;
  padding: 10px;
}

.adventure-index-item-author {
  font-size: 12px;
  color: #7e7e7e;
}

.adventure-index-item-title {
  font-size: 18px;
}


/*adventure-form*/

#adventure-form-header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 44px;
}

#adventure-form {
  background-color: #bbc5d4;
  width: 700px;
  margin: 10px auto;
  padding: 24px;
}

.adventure-form-group {
  margin-bottom: 30px;
}

.genres-container {
  margin-top: 10px;
}

#genre-input {
  margin-bottom: 12px;
}

.genre-box {
  display: inline-block;
  border-radius: 3px;
  padding: 3px 8px;
  margin: 0 4px 4px 0;
  font-size: 13px;
  font-weight: 500;
  max-width: 100%;
  background-color: rgba(122, 135, 228, 0.75);
  color: #ffffff;
}

.genre-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.genre-remove-button {
  color: #252525;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0 0 0 4px;
  transition: background-color .2s;
  outline: 0;
}

.genre-remove-button:hover {
  cursor: pointer;
}

.upload-cover-image-wrapper {
  height: 275px;
  width: 325px;
}
 .upload-cover-image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


/*adventure-edit*/

#publish-button-wrapper {
  width: 700px;
  margin: 18px auto;
}


/*pages*/

#pages-container {
  width: 800px;
  margin: 20px auto;
}

.starting-page-select {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 500px;
}

#pages-index {
  width: 100%;
}

.page-box {
  background-color: #cee1ea;
  margin-bottom: 20px;
}

.input-group.page-index-item {
  height: 68px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 26px;
  flex-wrap: nowrap;
}

.page-index-item-button {
  flex-grow: 0;
  height: 28px;
  margin: auto 0;
  margin-right: 16px;
  cursor: pointer;
}

.page-index-item-button > img {
  height: 100%;
}

.page-index-item-details {
  flex-grow: 1;
  min-width: 0;
}

.page-index-item-name {
  font-weight: bolder;
}

.page-index-item-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mini-page-form {
  width: 800px;
  margin: 10px;
  margin-bottom: 50px;
}


/*page form*/

.page-form {
  padding: 10px;
}

.pages-form-group {
  margin: 6px;
  margin-bottom: 18px;
}

.starting-page-label {
  width: 126px;
}


/*options*/

.options-index {
  margin-top: 10px;
}

.option-index-item {
  background-color: #a1c5d6;
  margin-bottom: 10px;
  padding: 14px;
}

.option-index-item-button {
  height: 25px;
  margin: auto 0;
  margin-right: 10px;
  flex-grow: 0;
  cursor: pointer;
}

.option-index-item-button > img {
  height: 100%;
}

.option-index-item-text {
  flex: 4;
}

.option-index-item-destination-name {
  flex: 1;
}

.add-option-button {
  position: relative;
  background-color: #a1c5d6;
  height: 44px;
  line-height: 22px;
  padding: 10px;
}

.toggle-button:hover {
  color: #ffa500;
  cursor: pointer;
}

#add-option-line {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: thin solid #0000001f;
}

.option-form {
  background-color: #a1c5d6;
  padding: 12px;
}

.option-form-row {
  display: flex;
  margin-bottom: 22px;
}

.option-text-input {
  flex: 2;
  margin-right: 16px;
}

.option-destination-input {
  flex: 1;
}


/*adventure-show*/

#adventure-show {
  margin-top: 14px;
  width: 700px;
  margin: 0 auto;
}

#adventure-show-title {
  text-align: center;
  margin: 0 auto;
}

.edit-button {
  position: absolute;
  float: left;
}

.adventure-show-author {
  text-align: center;
}

.adventure-show-box {
  outline: thin black solid;
  margin-bottom: 200px;
}

.adventure-show-cover-box {
  height: 500px;
}

.adventure-show-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.adventure-show-default-cover {
  background-color: #5f5f5f;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 500px;
  font-size: 60px;
}

#adventure-show-content {
  height: 500px;
  background-color: white;
  outline: thin solid black;
  padding: 20px;
}

#start-adventure-button {
  text-align: center;
}


/*adventure show pages*/

#page-box {
  position: relative;
  height: 100%;
}

#page-box-text {
  font-size: 24px;
  margin: 0;
  padding-bottom: 20px;
  border-bottom: thin solid black;
  white-space: pre-wrap;
  font-family: serif;
}

#options-list {
  padding: 14px 0;
}

.option {
  padding-left: 20px;
  font-size: 18px;
  cursor: pointer;
}

.option:hover {
  background-color: #e9ebf0;
}

.option:active {
  background-color: #ced1d8;
}

#the-end {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  font-weight: bold;
  font-family: fantasy;
}

#page-buttons {
  position: absolute;
  bottom: 0;
}


/*profile*/


#profile {
  width: 900px;
  margin: 16px auto;
}

#profile-header {
  text-align: center;
}

.profile-adventure-box {
  display: flex;
  background-color: #cee1ea;
  height: 275px;
  width: 100%;
  margin: 25px;
  border: thin solid black;
  cursor: pointer;
}

.profile-adventure-details {
  height: 100%;
  padding: 15px;
  color: black;
  flex: 1;
}

.profile-adventure-title {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: thin solid black;
}

.profile-adventure-cover {
  width: 250px;
  height: 100%;
}

.profile-adventure-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


/*release notes*/

.release-notes {
  text-align: center;
}

.known-bugs {
  width: 900px;
  margin: 0 auto;
  text-align: left;
}

.known-bugs ul {
  list-style: inside;
}

.known-bugs ul li {
  padding-left: 15px;
}

.about {
  margin: 15px auto;
  text-align: center;
  width: 700px;
}

.about-the-developer {
  margin-top: 20px;
  text-align: left;
  text-indent: 50px;
}
